<div class="header-top">
    <div class="container">
        <div class="row">
          <div class="col-md-6 logo">
            <img src="../assets/img/redbus_india_logo.png" alt="">
          </div>
          <div class="col-md-6">
            <p>
              <span class="login"> Login</span>
              <span class="login"> Sign Up</span>
            </p>
            <!-- <p>
             <img src="../assets/img/246x0w.jpg" >
             ,01712345678
              01712345678,
              
            </p> -->
          </div>
        </div>
      </div>
      
</div>

<div class="menu">

  <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-7">
      <ul>
        <li [routerLink]=''>Home</li>
  
      </ul>
     </div>

    </div>
  </div>

</div>
